%ul.tabs
  %li#tab-ranking
    = menu_tab('list', ranking_players_path)
  %li#tab-possibility-matrix
    = menu_tab('point potentials', point_potential_players_path)
  %li#tab-history-graph
    = menu_tab('history graph', rating_history_players_path)

