.navbar
  .container
    %a.brand{ href: "/" } 
      %span ping pong panda
    .nav-container
      %ul.nav
        %li.nav-item#nav-rankings
          = link_to 'rankings', ranking_players_path, { 'data-content' => 'rankings' }
        %li#nav-newgame
          = link_to 'new game', '#', { 'data-content' => 'new-game' }
        - if current_player
          %li.nav-item#nav-logout
            = link_to 'log out', sessions_path, method: :delete
        - else
          %li.nav-item#nav-login
            = link_to 'authenticate with Google', '/auth/google_oauth2'
